.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.404);
    box-shadow: 0px 0px 11px -1px rgb(0, 0, 0, 0.404);
}

.chartTitle{
    margin-bottom: 20px;
}